<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkimizda</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <h1>Hakkimizda</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere tempora 
        accusantium itaque quae eligendi odit doloribus libero delectus modi officia.
        </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere tempora 
            accusantium itaque quae eligendi odit doloribus libero delectus modi officia.
        </p>

         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere tempora 
                accusantium itaque quae eligendi odit doloribus libero delectus modi officia.
         </p>

    </section>
</body>
</html>