<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodejs dersleri | <%=title%></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <h1>Yazilar</h1>
        <%-content%>
        <ul>
            <li>
                <a href="#">Blog1</a>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </li>
            <li>
                <a href="#">Blog2</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, magnam.</p>
            </li>
            <li>
                <a href="#">Blog3</a>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </li>
        </ul>
    </section>
</body>
</html>